

@{ ViewData["Title"] = "Home Page";}

<section id="news-demo">
    <article>
        <div class="text-content">
            <h2>Products just in!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo odio purus, laoreet luctus tellus imperdiet a. Quisque luctus, risus et pulvinar porta, mi erat viverra libero, at efficitur magna risus et felis. Praesent efficitur risus ut luctus posuere. Sed neque odio, elementum in ex eu, blandit lobortis erat. Curabitur at mauris a lacus fermentum sagittis.</p>
            <a href="#!" class="button-link read-more">read more</a>
        </div>
        <div class="image-content"><img src="/Images/frontpage1.jpg" alt="Latest_Bundle"></div>
    </article>
    <article>
        <div class="text-content">
            <h2>Illuminate your rig</h2>
            <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In hac habitasse platea dictumst. Phasellus molestie, elit at ullamcorper congue, purus nisi scelerisque tellus, in pretium nulla urna et diam. Vivamus accumsan mattis orci, nec commodo est euismod eget.</p>
            <a href="#!" class="button-link read-more">read more</a>
        </div>
        <div class="image-content"><img src="/Images/frontpage2.jpg" alt=Corsair_Vengeance_Pro></div>
    </article>
    <article>
        <div class="text-content">
            <h2>Next Gen technology</h2>
            <p>Praesent a feugiat turpis, et sagittis mi. Sed blandit neque elit, ac vestibulum ex sagittis id. Nunc ante mi, cursus a magna a, fermentum dictum velit. Vestibulum feugiat lorem ut turpis commodo, vel bibendum lacus volutpat. Vestibulum laoreet finibus enim et mattis. Morbi pretium sem non fringilla iaculis. Sed ligula enim, maximus in gravida et, posuere tempor purus. Mauris luctus facilisis nisl, eu porta orci facilisis id. Donec vel feugiat quam, nec blandit ante.</p>
            <a href="#!" class="button-link read-more">read more</a>
        </div>
        <div class="image-content"><img src="/Images/frontpage3.jpg" alt="10th_Gen"></div>
    </article>
</section>
