@model IEnumerable<ShoppingCart.Application.ViewModels.CartViewModel>

@{ ViewData["Title"] = "Index"; }

<h1>Items in Cart</h1>

<hr />

<div class="container">
    <div class="row">
        @Html.Partial("CartDisplayPartial")
    </div>
</div>



