/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*  My Styles
-------------------------------------------------- */



.card {
    height:500px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2), 0px 5px 5px rgba(0,0,0,0.2);
    margin: 20px; 
 
}

​​​​

.image {
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}

​​​​

.container {
     padding: 10px;
}

/* News */
.news-slider {
    /* Style the actual content */
}

    .news-slider .text-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 1em;
        width: 30%;
        height: 100%;
    }

    .news-slider .text-content h2 {
        margin: 0;
    }

    .news-slider .text-content p {
        margin: 1em 0;
    }

    .news-slider .text-content a.button-link {
        padding: 0.25em 0.5em;
        position: absolute;
        bottom: 1em;
        right: 1em;
    }

    .news-slider .image-content {
        line-height: 0;
    }

    .news-slider .image-content img {
        max-width: 100%;
    }

    .news-slider .news-pager {
        text-align: right;
        display: block;
        margin: 0.2em 0 0;
        padding: 0;
        list-style: none;
    }

    .news-slider .news-pager li {
        display: inline-block;
        padding: 0.6em;
        margin: 0 0 0 1em;
    }

    .news-slider .news-pager li.sy-active a {
        color: #31ace2;
    }

    .news-slider .news-pager li a {
        font-weight: 500;
        text-decoration: none;
        display: block;
        color: #222;
    }​​​​{}